$backgroundColor: black;
$containerColor: white;
$greenElements: black;
$pinkElements: rgba(128, 128, 128, 0.518);
$yellowElements: rgba(128, 128, 128, 0.911);
$gradientColor1: white;
$gradientColor2: black;

$backgroundImage: './assets/images/background.png';
$navFontColor: white;