@import '../../../styles/settings.scss';


.root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;


}

.container{
    width: 60%;
    height: 100%;
    background-color: $containerColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}